<section>
  
 <div class="row gy-2">
   <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" *ngFor="let project of projectsList">
    <div class="card rounded rounded-3 w-100" >
        <img [src]="project.img" class="card-img-top w-100"  height="200px" alt="...">
      
        <div class="card-body">
            <h2 class="main-Color"><span> {{project.h2}} </span> <i [class]="project.icon"></i></h2>
            <p class="card-text main-Color">{{project.p}}</p>
            <div class="d-flex justify-content-between">
                <ul class="list-unstyled d-flex justify-content-evenly w-50">
                <li> <a [href]="project.git" target="_blank" class="fs-4"><i class="fa-brands fa-github"></i></a>  </li>
                <li><a [href]="project.demo" target="_blank" class="fs-4"><i class="fa-solid fa-link"></i></a> </li>
                </ul>
                <a class="button cursor-pointer fs-5" [routerLink]="['/deatail', project.id]"><span> more </span><i class="fa-solid fa-arrow-right"></i></a>
               
            </div>
       
        </div>
      </div>
   </div>
 </div>

</section>
