
<section class="py-5 px-2">
  <div class="w-100 mx-auto d-flex justify-content-start align-items-center">
    <div class="w-50 d-flex justify-content-start">
        <img class="picture w-50 m-3" src="assets/osha.jpeg" alt="">
    </div>
    <div class="d-flex justify-content-center bg-black rounded rounded-5 p-3 border border-1 border-info">
      <a href="assets/Aisha Ahmed.pdf" download="Aisha Ahmed.pdf" class="text-white fw-bold downl">Download CV</a>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="mt-4">
                <h1 class="main-Color fw-bold">Front-end Angular Developer</h1>
                <p class="ms-3 main-Color fw-semibold text-muted"> My name is Aisha Ahmed Ramdan . I am a motivated and detail-oriented Junior Frontend Angular Developer with a passion 
                  for building user-friendly and responsive web applications. Experienced in front-end 
                  technologies such as HTML, CSS, JavaScript, and Angular. Seeking an opportunity to 
                  contribute to innovative projects and further develop skills in front-end development.
                  
        
                </p>
            </div>
        </div>
        <div class="col-md-4">
           <img src="assets/logo.JPG" alt="logo" class="logo w-100 rounded rounded-circle">

        </div>
    </div>
   
   
</section>

