<section>
    <div class="container">
      <h3 class="text-center">Projects</h3>
      <!-- <div class="p-5 m-3">
        <ul class="navbar-nav  d-flex flex-row justify-content-evenly">
            <li class="nav-item px-4  d-flex justify-content-center rounded rounded-4">
              <a class="nav-link main-Color " routerLink="./allProjects" routerLinkActive="linkActive" >All Projects</a>
            </li>
          <li class="nav-item px-4  d-flex justify-content-center rounded rounded-4">
              <a class="nav-link main-Color " routerLink="./html&css" routerLinkActive="linkActive" >Html&Css</a>
            </li>
            <li class="nav-item px-4  d-flex justify-content-center rounded rounded-4">
              <a class="nav-link main-Color " routerLink="./Javascript" routerLinkActive="linkActive" >JavaScript</a>
            </li>
            <li class="nav-item px-4  d-flex justify-content-center rounded rounded-4">
              <a class="nav-link main-Color " routerLink="./JQuery" routerLinkActive="linkActive" >JQuery</a>
            </li>
            <li class="nav-item px-4  d-flex justify-content-center rounded rounded-4">
                <a class="nav-link main-Color " routerLink="./Angular" routerLinkActive="linkActive" >Angular</a>
              </li>
          </ul>
      </div> -->
      <div class="row p-5 m-3">
              <router-outlet></router-outlet>
            </div>
       
    </div>
  
</section>
